[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
ExecStart=/home/vagrant/kafka_2.13-3.0.0/bin/kafka-server-start.sh /home/vagrant/kafka_2.13-3.0.0/config/server.properties
ExecStop=/home/vagrant/kafka_2.13-3.0.0/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
